body {

	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

a, a:link, a:visited, a:active {
	color: #EB2D2E;
	text-decoration: none
}
a:hover {
	color: #FF3300;
	text-decoration: underline;
}

h3 {
	font-size: 10pt;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.address {font-size: 8pt}
.CheckBox {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; BORDER-LEFT: black 1px groove; BORDER-BOTTOM: black 1px groove
}
.TextBox {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-SIZE: 8pt; BORDER-LEFT: black 1px groove; COLOR: black; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: verdana,Arial,sans-serif; BACKGROUND-COLOR: white
}
.TextBox2 {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-SIZE: 10pt; BORDER-LEFT: black 1px groove; COLOR: black; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: Verdana,Arial,sans-serif; BACKGROUND-COLOR: #cecece
}
.TextBox3 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 7pt; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: verdana,Arial,sans-serif; BACKGROUND-COLOR: white
}
.ClearTextBox {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 0px; COLOR: gray; FONT-FAMILY: Verdana,Arial,sans-serif; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
.Button1 {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-SIZE: 9pt; BORDER-LEFT: black 1px groove; COLOR: white; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: Arial,sans-serif; BACKGROUND-COLOR: #92979D
}
.productmain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;


}
.markred {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #EB2D2E;
	font-weight: 700;
}
.text1 {
	line-height: 150%;
}
.note {
	font-size: 9px;
	color: #0000CC;
}
.title {
	font-weight: 700;
	color: #666666;
}
.seealso {
	font-weight: 700;
	color: #000000;
}
.contract {
	list-style-type: circle;
	list-style-position: inside;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;



}
